.event-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 16%;
    margin-right: 10%;
}

.event-title {
    margin-top: 5%;
    margin-bottom: 4%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
}