.signup-container {
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
}

input {
    background-color: rgb(204, 202, 209);
}

button {
    background-color: black;
}

.member-benefits {
    font-family: 'Courier New', Courier, monospace;
    display: block;
    text-align: center;
}

.member-benefits h5 {
    font-size: 18px;
    text-decoration: underline;
}

.member-benfits p {
    font-size: 15px;
    display: flex;
}