.signup-container {
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
}

input {
    background-color: rgb(204, 202, 209);
}

button {
    background-color: black;
}